:host {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
    border-radius: 10px;
    overflow: hidden;
}

svg {
    height: 100%;
    margin: 0px auto;
}

.browser-controls {
    /* testing */
    width: 650px;

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(181, 181, 181);
    background: rgba(230, 236, 239, 0.81);
}

.window-controls {
    display: flex;
    flex: 0 0 60px;
    margin: 0px 2%;
}

.window-controls span {
    display: inline-flex;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border-radius: 50px;
}

.window-controls span.close {
    opacity: 1;
    background: rgb(255, 133, 133);
}

.window-controls span.minimise {
    background: rgb(255, 208, 113);
}

.window-controls span.maximise {
    background: rgb(116, 237, 148);
}

.close {
    font-size: calc(1.275rem + .3vw);
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.page-controls {
    margin-left: 2%;
    height: 30px;
    flex: 0 0 70px;
}

.browser-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.66);
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    font-size: 1em;
    border-radius: 3px;
}

.page-controls span {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.page-controls span.back {
    margin-right: 3px;
}

.browser-container:last-of-type {
    margin-right: 2%;
}

.url-bar {
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
    font-family: monospace;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    overflow: hidden;
}

.url-bar .lock {
    height: 100%;
    display: flex;
    margin: 0px 5px;
}

.url-bar .url-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-success {
    color: #28a745;
}

.settings {
    display: flex;
    width: 30px;
    text-align: center;
}